{% extends "ems/base.html" %}
{% block content %}

<h3>About</h3>

<p>Welcome to the Equipment Management Sytem (EMS) of the Physics of Complex Fluids group (PCF) of the University of Twente.</p>

<h3>Changelog</h3>
<p>For sub-1 versions only commit changes are logged in the repository, see the repository on Github: <a href="https://github.com/harmenhoek/pcfems">github.com/harmenhoek/pcfems</a>.</p>

<h3>Contact</h3>
<p>PCF EMS is still under development and for test use only. Please contact <a href="mailto:h.j.hoek@utwente.nl">Harmen Hoek</a> for bug reports, feature requests and feedback.</p>

<h3>Licenses</h3>
<p>This app uses free open source software only, including DataTables.</p>

{% endblock content %}