{% load static %}
{% load ems_customfilters %}

<!DOCTYPE html>
<html>
<head>

    {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'ems/favicon-32x32.png' %}"/>

    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

    <!--  DataTables CSS  -->
<!--    <link href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css" rel="stylesheet">-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-print-1.6.5/r-2.2.7/datatables.min.css"/>    <!--    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'ems/main.css' %}">


    <title>PCF EMS</title>

</head>
<body class="mb-3">

<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">
<!--                <i class="fas fa-boxes"></i> -->
                <img class="align-middle" style="height:1em;" src="{% static 'ems/favicon_white_192x192.png' %}" />
                PCF EMS
            </a>
            <div class="navbar-nav mr-auto"> <!-- Above collapse to control custom behavior on <md devices, i.e. hide Home, but always show Scan.-->
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link d-none d-md-block {% block tab1_active %}{% endblock tab1_active %}" href="{% url 'ems-home' %}"><i class="fas fa-home"></i> Items</a>
                    <a class="nav-item nav-link d-none d-md-block {% block tab2_active %}{% endblock tab2_active %}" href="{% url 'ems-storage' %}"><i class="fas fa-boxes"></i> Storage</a>
<!--                    <a class="nav-item nav-link" href="{% url 'ems-scanner' %}"><i class="fas fa-qrcode"></i> Scan</a>-->
                {% endif %}
            </div>
            <!--fa options: layer-group, boxes, archive, warehouse, database -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto"> <!-- Keep here, otherwise Right part not aligned properly.-->
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_staff %}
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-lock"></i> Admin
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'item-create' %}">
                                    <i class="fas fa-plus-circle"></i>
                                    New Item
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'manage-home' %}">
                                    <i class="fas fa-tools"></i>
                                    Manage
                                </a>
                            </div>
                        </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> {{ user.first_name }} {{ user.last_name }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'profile' %}">
                                    <i class="fas fa-id-badge"></i>
                                    Edit Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </nav>

</header>
    {% block secondheader %}{% endblock secondheader %}


<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message|safe }}
                </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>
        <!--        <div class="col-md-4">-->
        <!--            <div class="content-section">-->
        <!--                <h3>Sidebar</h3>-->
        <!--                <p class='text-muted'>Quick Access stuff-->
        <!--                <ul class="list-group">-->
        <!--                    <li class="list-group-item list-group-item-light">List w/ categories</li>-->
        <!--                    <li class="list-group-item list-group-item-light">List w/ storage locs</li>-->
        <!--                    <li class="list-group-item list-group-item-light">Exp. setups</li>-->
        <!--                    <li class="list-group-item list-group-item-light">Labs</li>-->
        <!--                </ul>-->
        <!--                </p>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</main>

<footer class="mt-5 pt-3 pb-0 text-muted text-center text-small border-top">
        <p class="mb-1">Equipment Management System for the Physics of Complex Fluids Group at the University of Twente.</p>
        <p class="m-0">Version {% settings_value "EMS_VERSION" %} | <a class="text-muted" href="https://github.com/harmenhoek/pcfems/" target="_blank">About EMS <i class="fas fa-external-link-alt fa-xs" style="vertical-align: +20%"></i></a></p>
</footer>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--        crossorigin="anonymous"></script>-->

{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS https://pypi.org/project/django-bootstrap-datepicker-plus/ ADD AFTER BOOTSTRAP#}


<!-- DataTables JS -->
<!--<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>-->
<!--<script type="text/javascript"-->
<!--        src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-print-1.6.5/r-2.2.7/datatables.min.js"></script>
<!-- fa-icons -->
<script src="https://kit.fontawesome.com/e599ec3b64.js" crossorigin="anonymous"></script>

<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

{% block tablescript %}{% endblock tablescript %}


<!--
buttons: [
    {
        extend: 'print',
        messageTop: 'This print was produced using the Print button for DataTables'
    }
]
-->

</body>
</html>
