{% extends "ems/base.html" %}
{% load humanize %}
{% load ems_customfilters %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" />

<article class="content-section">
    <div class="row">
        <div class="col col-8">
            <div class="row item-metadate my-2">
                <div class="col col-lg-9 col-9">
                    <h2 class="align-middle d-inline article-title pr-2">Cabinet <span class="badge rounded-pill bg-warning text-dark">{{ object.lab }} {{ object.number }}</span></h2>

                    {% if object.title %}
                        <p class="text-muted my-0">{{ object.title }}</p>
                    {% endif %}
                </div>

                <div class="col col-lg-3 col-3">

                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col col-lg-12 col-12">
                    <small class="text-muted" data-toggle="tooltip" data-placement="top" title="Unique cabinet ID.">ID: {{ object.pk }}</small>

                    <div class="shadow p-3 mb-5 bg-white rounded mt-3 mx-2">
                        <table class="table table-borderless table-sm mb-0 w-auto">
                            <tr><td>Lab</td><td class="pl-4"><h6>{{ object.lab }}</h6></td></tr>
                            <tr><td>Number</td><td class="pl-4"><h6>{{ object.number }}</h6></td></tr>
                            <tr><td>Main Content</td><td class="pl-4"><h6>{{ object.main_content|nonevalue|safe }}</h6></td></tr>
                            <tr><td>Owner</td><td class="pl-4"><h6>{{ object.owner|nonevalue|safe }}</h6></td></tr>
                            <tr><td>Nickname</td><td class="pl-4"><h6>{{ object.nickname|nonevalue|safe }}</h6></td></tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col col-4">
                <a href="{% static 'ems/labmap.png' %}" data-toggle="lightbox"><img class="rounded mr-0 w-100" src="{% static 'ems/labmap.png' %}"></a>
                <em>This will be a custom image of the location in the future.</em>
        </div>

    </div>
</article>


<article class="media content-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-12 col-12">
                <h3 class="d-inline">Items in this cabinet</h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <table id="item_list" class="table table-striped responsive nowrap table-hover" style="width:100%">
                    <thead>
                    <tr>
                        <th data-priority="10">ID</th>
                        <th data-priority="1">Image</th>
                        <th data-priority="1">Item</th>
                        <th data-priority="1">Category</th>
                        <th data-priority="5">Location</th>
                        <th data-priority="2">Status</th>
                        <th data-priority="5">User</th>
                        <th data-priority="10">Flag</th>
                        <th class="d-none">Description</th>
                        <th class="d-none">Serial</th>
                        <th class="d-none">Storage Location</th>
                        <th class="d-none">QR id</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr style="cursor:pointer;" onclick="window.location='{% url 'item-detail' item.id %}';">
                            <td>{{ item.pk }}</td>
                            <td>
                                <div class="image">
                                    <img class="rounded img-fluid thumb-img lazy" data-original="{{ item.image.url }}" />
                                </div>
                            </td>
                            <td><b>{{ item.brand }}</b> <br> {{ item.model }} <br> {% if item.title %}<p class=" my-0 text-muted">{{ item.title }}</p>{% endif %}</td>
                            <td>{{ item.category }}</td>
                            <td>
                                {% if item.status and item.tracking %}
                                    {% if item.storage_location %}
                                        <span class="align-middle badge badge-pill badge-warning">{{ item.storage_location }}</span>
                                    {% endif %}
                                {% elif item.tracking and not item.status %}
                                    <span class="align-middle badge badge-pill badge-primary">{{ item.location }}</span>
                                {% else %}
                                    <em class="text-muted">Unknown</em>
                                {% endif %}
                            </td>
                            <td>
                                {% if item.status and item.tracking %}
                                    <span class="align-middle badge badge-pill badge-success">Available</span>
                                {% elif item.tracking and not item.status %}
                                    <span class="align-middle badge badge-pill badge-danger">In use</span>
                                {% else %}
                                    <span class="align-middle badge badge-pill badge-secondary">No tracking</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if item.tracking %}
                                   {{ item.user|nonevalue|safe }}
                                {% else %}
                                    <em class="text-muted">Unknown</em>
                                {% endif %}
                            </td>
                            <td style="max-width: 100px;">
                                {% if item.flag %}
                                    <h5>
                                        <span class="align-middle badge badge-pill badge-danger" data-toggle="tooltip" data-placement="bottom" data-html="true"  title="<i class='fas fa-{{ item.flag.icon }}'></i> {{ item.flag.flag }}">
                                            <i class="fas fa-{{ item.flag.icon }}"></i>
                                        </span>
                                    </h5>
                                {% endif %}
                            </td>
                            <td class="d-none"><span>{{ item.description }}</span></td>
                            <td class="d-none"><span>{{ item.serial }}</span></td>
                            <td class="d-none"><span>{{ item.storage_location }}</span></td>
                            <td class="d-none">{{ item.qrid }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>


                </table>
            </div>
        </div>
    </div>
</article>

<article class="media content-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-12 col-12">
                <h3 class="d-inline">Items in this cabinet now in use</h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <table id="item_list2" class="table table-striped responsive nowrap table-hover" style="width:100%">
                    <thead>
                    <tr>
                        <th data-priority="10">ID</th>
                        <th data-priority="1">Image</th>
                        <th data-priority="1">Item</th>
                        <th data-priority="1">Category</th>
                        <th data-priority="5">Location</th>
                        <th data-priority="2">Status</th>
                        <th data-priority="5">User</th>
                        <th data-priority="10">Flag</th>
                        <th class="d-none">Description</th>
                        <th class="d-none">Serial</th>
                        <th class="d-none">Storage Location</th>
                        <th class="d-none">QR id</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items_inuse %}
                        <tr style="cursor:pointer;" onclick="window.location='{% url 'item-detail' item.id %}';">
                            <td>{{ item.pk }}</td>
                            <td>
                                <div class="image">
                                    <img class="rounded img-fluid thumb-img lazy" data-original="{{ item.image.url }}" />
                                </div>
                            </td>
                            <td><b>{{ item.brand }}</b> <br> {{ item.model }} <br> {% if item.title %}<p class=" my-0 text-muted">{{ item.title }}</p>{% endif %}</td>
                            <td>{{ item.category }}</td>
                            <td>
                                {% if item.status and item.tracking %}
                                    {% if item.storage_location %}
                                        <span class="align-middle badge badge-pill badge-warning">{{ item.storage_location }}</span>
                                    {% endif %}
                                {% elif item.tracking and not item.status %}
                                    <span class="align-middle badge badge-pill badge-primary">{{ item.location }}</span>
                                {% else %}
                                    <em class="text-muted">Unknown</em>
                                {% endif %}
                            </td>
                            <td>
                                {% if item.status and item.tracking %}
                                    <span class="align-middle badge badge-pill badge-success">Available</span>
                                {% elif item.tracking and not item.status %}
                                    <span class="align-middle badge badge-pill badge-danger">In use</span>
                                {% else %}
                                    <span class="align-middle badge badge-pill badge-secondary">No tracking</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if item.tracking %}
                                   {{ item.user|nonevalue|safe }}
                                {% else %}
                                    <em class="text-muted">Unknown</em>
                                {% endif %}
                            </td>
                            <td style="max-width: 100px;">
                                {% if item.flag %}
                                    <h5>
                                        <span class="align-middle badge badge-pill badge-danger" data-toggle="tooltip" data-placement="bottom" data-html="true"  title="<i class='fas fa-{{ item.flag.icon }}'></i> {{ item.flag.flag }}">
                                            <i class="fas fa-{{ item.flag.icon }}"></i>
                                        </span>
                                    </h5>
                                {% endif %}
                            </td>
                            <td class="d-none"><span>{{ item.description }}</span></td>
                            <td class="d-none"><span>{{ item.serial }}</span></td>
                            <td class="d-none"><span>{{ item.storage_location }}</span></td>
                            <td class="d-none">{{ item.qrid }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>


                </table>
            </div>
        </div>
    </div>
</article>

{% endblock content %}

{% block tablescript %}
{# Code block for javascript table #}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>


<script>
    $(document).ready(function() {
        $('#item_list').DataTable({
            stateSave: true,
            "order": [[ 2, "asc" ]],
            drawCallback: function(){
                $("img.lazy").lazyload();
           },
            "pagingType": "full_numbers",
            "bLengthChange": false,
            responsive: true,
            responsive: {
                details: false
            },
            "language": {
                "lengthMenu": "Show _MENU_ logs per page",
                "zeroRecords": "No matching logs found.",
                "infoFiltered": "(filtered from _MAX_ total items)",
                "info":           "Showing _START_ to _END_ of _TOTAL_ items",
                "infoEmpty":      "",
                "emptyTable":     "No items in this cabinet or all in use",
                "paginate": {
                    "first":      "First",
                    "last":       "Last",
                    "next":       "Next",
                    "previous":   "Previous"
                },
            },
        } );
    } );

     $(document).ready(function() {
        $('#item_list2').DataTable({
            stateSave: true,
            "order": [[ 2, "asc" ]],
            drawCallback: function(){
                $("img.lazy").lazyload();
           },
            "pagingType": "full_numbers",
            "bLengthChange": false,
            responsive: true,
            responsive: {
                details: false
            },
            "language": {
                "lengthMenu": "Show _MENU_ logs per page",
                "zeroRecords": "No matching logs found.",
                "infoFiltered": "(filtered from _MAX_ total items)",
                "info":           "Showing _START_ to _END_ of _TOTAL_ items",
                "infoEmpty":      "",
                "emptyTable":     "No items of this cabinet are currently in use",
                "paginate": {
                    "first":      "First",
                    "last":       "Last",
                    "next":       "Next",
                    "previous":   "Previous"
                },
            },
        } );
    } );
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous"></script>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>

{% endblock tablescript %}