{% extends "ems/base.html" %}
{% load humanize %}
{% load ems_customfilters %}
{% load static %}

{% block content %}

<article class="content-section container">
    <div class="row ">
        <div class="col-sm-8">
            <div class="row item-metadate my-2">
                <div class="col col-lg-12 col-12">
                    <h2 class="align-middle d-inline article-title pr-2">{{ global_preferences.nomenclature__storage_name }} <span class="badge bg-warning text-dark text-dark">{{ object.lab }} {{ object.number }}</span></h2>
                    <div class="float-end">
                        {% include "ems/help_modal.html" with title="Cabinet Detail" help_file="ems/help.html" help_section="cabinet_detail" %}
                   </div>

                    {% if object.title %}
                        <p class="text-muted my-0">{{ object.title }}</p>
                    {% endif %}
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col col-lg-12 col-12">
                    <small class="text-muted" data-toggle="tooltip" data-placement="top" title="Unique cabinet ID.">ID: {{ object.pk }}</small>

                    <div class="shadow p-3 mb-5 bg-white rounded mt-3 mx-2">
                        <table class="table table-borderless table-sm mb-0 w-auto">
                            <tr><td>{{ global_preferences.nomenclature__room_name }}</td><td class="pl-4"><h6>{{ object.lab }}</h6></td></tr>
                            <tr><td>Number</td><td class="pl-4"><h6>{{ object.number }}</h6></td></tr>
                            <tr><td>Main Content</td><td class="pl-4"><h6>{{ object.main_content|nonevalue|safe }}</h6></td></tr>
                            <tr><td>Owner</td><td class="pl-4"><h6>{{ object.owner|nonevalue|safe }}</h6></td></tr>
                            <tr><td>Nickname</td><td class="pl-4"><h6>{{ object.nickname|nonevalue|safe }}</h6></td></tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
       <div class="col col-md-4 col-12 l-1">
            <div class="row my-2">
                <div class="col col-lg-12 col-12">
                    {% if object.image and object.image != DEFAULT_IMAGE %}
                        <a href="{{ object.image.url }}" data-bs-toggle="modal" data-bs-target="#MainImageModal" data-bs-imagecnt="1" data-bs-imageurl="{{ object.image.url }}">
                            <img class="rounded mr-0 w-100" src="{{ object.image.url }}">
                        </a>
                    {% else %}
                        <img class="rounded mr-0 w-100" src="{{ object.image|defaultifempty }}">
                    {% endif %}

                </div>
            </div>
           <div class="modal fade" id="MainImageModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                         <div class="modal-header">
                             <h5 class="modal-title">{{ global_preferences.nomenclature__storage_name }} <span class="badge bg-warning text-dark text-dark">{{ object.lab }} {{ object.number }}</span></h5> <h6 class="modal-title"></h6>
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                        <img id="MainImageModalImg" class="w-100" src="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>


<article class="media content-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-12 col-12 px-0">
                <h3 class="d-inline">Items in this {{ global_preferences.nomenclature__storage_name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 px-0">
                <table id="item_list" class="table table-striped responsive nowrap table-hover" style="width:100%">
                    <thead>
                    <tr>
                        <th data-priority="10">ID</th>
                        <th data-priority="2">Image</th>
                        <th data-priority="1">Item</th>
                        <th data-priority="3">Category</th>
                        <th data-priority="5">Location</th>
                        <th data-priority="2">Status</th>
                        <th data-priority="5">User</th>
                        <th data-priority="10">Flag</th>
                        <th class="d-none">Description</th>
                        <th class="d-none">Serial</th>
                        <th class="d-none">Storage Location</th>
                        <th class="d-none">QR id</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr style="cursor:pointer;" onclick="window.location='{% url 'item-detail' item.id %}';">
                            <td>{{ item.pk }}</td>
                            <td>
                                <div class="image">
                                    <img class="rounded img-fluid thumb-img lazy" data-original="{{ item.image|defaultifempty }}" />
                                </div>
                            </td>
                            <td><b>{{ item.brand }}</b> <br> {{ item.model }} <br> {% if item.title %}<p class=" my-0 text-muted">{{ item.title }}</p>{% endif %}</td>
                            <td>{{ item.category }}</td>
                            <td>
                                {% if item.status and item.tracking %}
                                    {% if item.storage_location %}
                                        <span class="align-middle badge rounded-pill bg-warning text-dark">{{ item.storage_location }}</span>
                                    {% endif %}
                                {% elif item.tracking and not item.status %}
                                    <span class="align-middle badge rounded-pill bg-primary">{{ item.location }}</span>
                                {% else %}
                                    <em class="text-muted">Unknown</em>
                                {% endif %}
                            </td>
                            <td>
                                {% if item.status and item.tracking %}
                                    <span class="align-middle badge rounded-pill bg-success">Available</span>
                                {% elif item.tracking and not item.status %}
                                    <span class="align-middle badge rounded-pill bg-danger">In use</span>
                                {% else %}
                                    <span class="align-middle badge rounded-pill bg-secondary">No tracking</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if item.tracking %}
                                   {{ item.user|nonevalue|safe }}
                                {% else %}
                                    <em class="text-muted">Unknown</em>
                                {% endif %}
                            </td>
                            <td style="max-width: 100px;">
                                {% if item.flag %}
                                    <h5>
                                        <span class="align-middle badge rounded-pill bg-danger" data-toggle="tooltip" data-placement="bottom" data-html="true"  title="<i class='fas fa-{{ item.flag.icon }}'></i> {{ item.flag.flag }}">
                                            <i class="fas fa-{{ item.flag.icon }}"></i>
                                        </span>
                                    </h5>
                                {% endif %}
                            </td>
                            <td class="d-none"><span>{{ item.description }}</span></td>
                            <td class="d-none"><span>{{ item.serial }}</span></td>
                            <td class="d-none"><span>{{ item.storage_location }}</span></td>
                            <td class="d-none">{{ item.qrid }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>


                </table>
            </div>
        </div>
    </div>
</article>

<article class="media content-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-12 col-12 px-0">
                <h3 class="d-inline">Items in this {{ global_preferences.nomenclature__storage_name }} now in use</h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <table id="item_list2" class="table table-striped responsive nowrap table-hover" style="width:100%">
                    <thead>
                    <tr>
                        <th data-priority="10">ID</th>
                        <th data-priority="2">Image</th>
                        <th data-priority="1">Item</th>
                        <th data-priority="3">Category</th>
                        <th data-priority="5">Location</th>
                        <th data-priority="2">Status</th>
                        <th data-priority="5">User</th>
                        <th data-priority="10">Flag</th>
                        <th class="d-none">Description</th>
                        <th class="d-none">Serial</th>
                        <th class="d-none">Storage Location</th>
                        <th class="d-none">QR id</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items_inuse %}
                        <tr style="cursor:pointer;" onclick="window.location='{% url 'item-detail' item.id %}';">
                            <td>{{ item.pk }}</td>
                            <td>
                                <div class="image">
                                    <img class="rounded img-fluid thumb-img lazy" data-original="{{ item.image|defaultifempty }}" />
                                </div>
                            </td>
                            <td><b>{{ item.brand }}</b> <br> {{ item.model }} <br> {% if item.title %}<p class=" my-0 text-muted">{{ item.title }}</p>{% endif %}</td>
                            <td>{{ item.category }}</td>
                            <td>
                                {% if item.status and item.tracking %}
                                    {% if item.storage_location %}
                                        <span class="align-middle badge rounded-pill bg-warning text-dark">{{ item.storage_location }}</span>
                                    {% endif %}
                                {% elif item.tracking and not item.status %}
                                    <span class="align-middle badge rounded-pill bg-primary">{{ item.location }}</span>
                                {% else %}
                                    <em class="text-muted">Unknown</em>
                                {% endif %}
                            </td>
                            <td>
                                {% if item.status and item.tracking %}
                                    <span class="align-middle badge rounded-pill bg-success">Available</span>
                                {% elif item.tracking and not item.status %}
                                    <span class="align-middle badge rounded-pill bg-danger">In use</span>
                                {% else %}
                                    <span class="align-middle badge rounded-pill bg-secondary">No tracking</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if item.tracking %}
                                   {{ item.user|nonevalue|safe }}
                                {% else %}
                                    <em class="text-muted">Unknown</em>
                                {% endif %}
                            </td>
                            <td style="max-width: 100px;">
                                {% if item.flag %}
                                    <h5>
                                        <span class="align-middle badge rounded-pill bg-danger" data-toggle="tooltip" data-placement="bottom" data-html="true"  title="<i class='fas fa-{{ item.flag.icon }}'></i> {{ item.flag.flag }}">
                                            <i class="fas fa-{{ item.flag.icon }}"></i>
                                        </span>
                                    </h5>
                                {% endif %}
                            </td>
                            <td class="d-none"><span>{{ item.description }}</span></td>
                            <td class="d-none"><span>{{ item.serial }}</span></td>
                            <td class="d-none"><span>{{ item.storage_location }}</span></td>
                            <td class="d-none">{{ item.qrid }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>


                </table>
            </div>
        </div>
    </div>
</article>

{% endblock content %}

{% block tablescript %}
{# Code block for javascript table #}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>


<script>

    var exampleModal = document.getElementById('MainImageModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
          // Button that triggered the modal
    var button = event.relatedTarget;
          // Extract info from data-bs-* attributes
    var src = button.getAttribute('data-bs-imageurl');
    $("#MainImageModalImg").attr("src",src);

    $("#MainImageModalCnt").html(button.getAttribute('data-bs-imagecnt'));




    })


    $(document).ready(function() {
        $('#item_list').DataTable({
            stateSave: true,
            "order": [[ 2, "asc" ]],
            drawCallback: function(){
                $("img.lazy").lazyload();
           },
            "pagingType": "full_numbers",
            "bLengthChange": false,
            responsive: true,
            responsive: {
                details: false
            },
            "language": {
                "lengthMenu": "Show _MENU_ logs per page",
                "zeroRecords": "No matching logs found.",
                "infoFiltered": "(filtered from _MAX_ total items)",
                "info":           "Showing _START_ to _END_ of _TOTAL_ items",
                "infoEmpty":      "",
                "emptyTable":     "No items in this {{ global_preferences.nomenclature__storage_name }} or all in use",
                "paginate": {
                    "first":      "First",
                    "last":       "Last",
                    "next":       "Next",
                    "previous":   "Previous"
                },
            },
        } );
    } );

     $(document).ready(function() {
        $('#item_list2').DataTable({
            stateSave: true,
            "order": [[ 2, "asc" ]],
            drawCallback: function(){
                $("img.lazy").lazyload();
           },
            "pagingType": "full_numbers",
            "bLengthChange": false,
            responsive: true,
            responsive: {
                details: false
            },
            "language": {
                "lengthMenu": "Show _MENU_ logs per page",
                "zeroRecords": "No matching logs found.",
                "infoFiltered": "(filtered from _MAX_ total items)",
                "info":           "Showing _START_ to _END_ of _TOTAL_ items",
                "infoEmpty":      "",
                "emptyTable":     "No items of this {{ global_preferences.nomenclature__storage_name }} are currently in use",
                "paginate": {
                    "first":      "First",
                    "last":       "Last",
                    "next":       "Next",
                    "previous":   "Previous"
                },
            },
        } );
    } );
</script>


{% endblock tablescript %}