{% extends "ems/base.html" %}
{% block tab1_active %}
active
{% endblock tab1_active %}
{% block content %}
{% load ems_customfilters %}

<table id="example" class="table table-striped responsive nowrap table-hover" style="width:100%">
    <thead>
    <tr>
        <th data-priority="10">ID</th>
        <th data-priority="1">Image</th>
        <th data-priority="1">Item</th>
        <th data-priority="1">Category</th>
        <th data-priority="5">Location</th>
        <th data-priority="2">Status</th>
        <th data-priority="5">User</th>
        <th data-priority="10">Flag</th>
        <th class="d-none">Description</th>
        <th class="d-none">Serial</th>
        <th class="d-none">Storage Location</th>
        <th class="d-none">QR id</th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
    <tr style="cursor:pointer;" onclick="window.location='{% url 'item-detail' item.id %}';">
        <td>{{ item.pk }}</td>
        <td>
            <div class="image">
                <img class="rounded img-fluid thumb-img lazy" data-original="{{ item.image.url }}" />
<!--                <img class="thumb-img" src="{{ item.image.url }}" />-->
            </div>
        </td>
        <td><b>{{ item.brand }}</b> <br> {{ item.model }} <br> {% if item.title %}<p class=" my-0 text-muted">{{ item.title }}</p>{% endif %}</td>
        <td><span filtervalue="{{ item.category }}">{{ item.category }}</span></td>
        <td>
            {% if item.status and item.tracking %}
                {% if item.storage_location %}
                    <span filtervalue="{{ item.storage_location }}" class="align-middle badge  badge-warning text-wrap text-left">{{ item.storage_location|safe }}</span>
                {% endif %}
            {% elif item.tracking and not item.status %}
                <span filtervalue="{{ item.location }}" class="align-middle badge  badge-primary text-wrap text-left">{{ item.location }}</span>
            {% else %}
                <em filtervalue="Unknown" class="text-muted">Unknown</em>
            {% endif %}
        </td>
        <td>
            {% if item.status and item.tracking %}
                <span filtervalue="Available" class="align-middle badge badge-pill badge-success">Available</span>
            {% elif item.tracking and not item.status %}
                <span filtervalue="In Use" class="align-middle badge badge-pill badge-danger">In use</span>
            {% else %}
                <span filtervalue="No Tracking" class="align-middle badge badge-pill badge-secondary">No tracking</span>
            {% endif %}
        </td>
        <td>
            {% if item.tracking %}
                <span filtervalue="{{ item.user }}">{{ item.user|nonevalue|safe }}</span>
            {% else %}
                <em filtervalue="Unknown" class="text-muted">Unknown</em>
            {% endif %}
        </td>
        <td style="max-width: 100px;">
            {% if item.flag %}
<!--                <span class="align-middle badge badge-pill badge-danger"><i class="fas fa-{{ item.flag.icon }}"></i> {{ item.flag.flag }}</span>-->
                <h5>
                    <span class="align-middle badge badge-pill badge-danger" data-toggle="tooltip" data-placement="bottom" data-html="true"  title="<i class='fas fa-{{ item.flag.icon }}'></i> {{ item.flag.flag }}">

                        <i class="fas fa-{{ item.flag.icon }}"></i>
                    </span>
                </h5>
            {% endif %}
        </td> <!-- item.added_on|date:"F d, Y" -->
        <td class="d-none"><span>{{ item.description }}</span></td>
        <td class="d-none"><span>{{ item.serial }}</span></td>
        <td class="d-none"><span>{{ item.storage_location }}</span></td>
        <td class="d-none">{{ item.qrid }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="searchbar">
        <th>ID</th>
        <th>Image</th>
        <th>Type</th>
        <th>Category</th>
        <th>Location</th>
        <th>Status</th>
        <th>User</th>
        <th>Added</th>
        <th class="d-none">Description</th>
        <th class="d-none">Serial</th>
        <th class="d-none">Storage Location</th>
        <th class="d-none">QR id</th>
    </tr>
    </tfoot>

</table>

{% endblock content %}

{% block tablescript %}
{# Code block for javascript table #}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>



<script>
$(document).ready(function(){




var filterColumns = [3, 4, 5, 6, 7]; // columns with options
var noColumn = [1, 7];

    // Setup - add a text input to each footer cell
    $('#example tfoot th').each(
        function(i) {
            if ((filterColumns.includes(i)) || (noColumn.includes(i)))  {
                var title = '';
                $(this).html( '' );
            } else {
                var title = $(this).text();
                $(this).html( '<input class="form-control form-control-sm" type="text" placeholder=" '+title+'" />' );
            }
        }
    );

    // this.api().state.clear();


    // DataTable
    var table = $('#example').DataTable({
        stateSave: true,
        drawCallback: function(){
            $("img.lazy").lazyload();
       },
        "order": [[ 2, "asc" ]],
        "pagingType": "full_numbers",
        responsive: true,
        responsive: {
            details: false
        },
        "language": {
            "lengthMenu": "Show _MENU_ items per page",
            "zeroRecords": "No matching items found.",
            "infoFiltered": "(filtered from _MAX_ total items)",
            "info":           "Showing _START_ to _END_ of _TOTAL_ items",
            "paginate": $(window).width() > 768 ? true  :{
                "first":      "First",
                "last":       "Last",
                "next":       "Next",
                "previous":   "Previous"
            },
            "paginate": $(window).width() > 768 ? false  :{
                "first":      "|<",
                "last":       ">|",
                "next":       ">",
                "previous":   "<"
            },
        },
        initComplete: function () {
    this.api().columns().every( function (i) {
    if ((filterColumns.includes(i)) && !(noColumn.includes(i))) {
        var column = this;
        var select = $('<select aria-controls="example" class="custom-select custom-select-sm form-control form-control-sm"><option value=""></option></select>')
            .appendTo( $(column.footer()).empty() )
            .on( 'change', function () {

                var val = $.fn.dataTable.util.escapeRegex(
                    $(this).val()
                );

                column
                    .search( val ? '^'+val+'$' : '', true, false )
                    .draw();
            } );

        column.data().unique().sort().each( function ( d, j ) {
                var value = $(d).attr("filtervalue");
                if (typeof value !== typeof undefined && value !== false) {
                    select.append( '<option class="form-control" value="' + value + '">' + d + '</option>')
                } else {
                    select.append( '<option class="form-control" value="' + d + '">' + d + '</option>')
                }
        } );
        }
    } );

            // Apply the search

            this.api().columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        },
        "columnDefs": [
            {
                type: "num",
                orderable: true,
                targets: 0,
            },
        ],

    });

    $('#example tfoot tr').appendTo('#example thead');

    // Reset button when filtering is going on (when filtered results != total results)
    var did_append
    did_append = 0
    $('#example').on('draw.dt', function () {
        if (table.rows( { filter : 'applied'} ).nodes().length != table.rows().count()) {
            var filter = $('#example_filter');
            var btn = " <button type='button' class='btn btn-secondary btn-sm align-top'>Reset</button>"
            if (did_append == 0) {
                $("#example_filter").append(btn);
                did_append = 1
            }
        }
        $('button').on('click', function () {
            table.state.clear();
            window.location.reload();
            did_append = 0
        });
    });


});


</script>

<style>

    table.dataTable > thead > tr.searchbar > th:not(.sorting_disabled) {
        padding: .5rem;
    }


</style>

{% endblock tablescript %}