{% extends "ems/base.html" %}
{% load humanize %}
{% load ems_customfilters %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" />

<article class="media content-section">
    <div class="row justify-content-md-center">
        <div class="col col-lg-8 col-12">
            <div class="row item-metadate my-2">
                <div class="col col-lg-9 col-9">
                    <h2 class="align-middle d-inline article-title pr-2">{{ object.brand }} {{ object.model }}</h2>
                        {% if object.parts > 1 %}
                            <span class="align-middle badge badge-pill badge-secondary">{{ object.parts }} parts</span>
                        {% endif %}


                    {% if object.title %}
                        <p class="text-muted my-0">{{ object.title }}</p>
                    {% endif %}
                </div>

                <div class="col col-lg-3 col-3">
                    <div class="float-right">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'item-userupdate' object.id %}"><i class="fas fa-edit"></i> Update</a>
                                {% if object.parts > 1 %}
                                    {% for i in "x"|rjust:"2" %}
                                        <a class="dropdown-item" target="_blank" href="{% url 'ems-qrgenerator' object.id %}?part={{ forloop.counter }}"><i class="fas fa-qrcode"></i> Generate QR code part {{ forloop.counter }}</a>

                                    {% endfor %}
                                {% else %}
                                    <a class="dropdown-item" target="_blank" href="{% url 'ems-qrgenerator' object.id %}"><i class="fas fa-qrcode"></i> Generate QR code</a>
                                {% endif %}
<!--                            <a class="dropdown-item disabled" href="#"><i class="fas fa-file-export"></i> Export to PDF</a>-->
                            {% endif%}


                            {% if user.is_staff %}
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Staff only</h6>
                            <a class="dropdown-item" href="{% url  'item-staffupdate' object.id %}"><i class="fas fa-edit"></i> Full update</a>
                            <a class="dropdown-item" href="{% url  'item-delete' object.id %}"><i class="fas fa-trash"></i> Delete</a>
                            <a class="dropdown-item" href="{% url  'item-history' object.id %}"><i class="fas fa-history"></i> Full history</a>
                            {% endif %}

                        </div>
                    </div>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col col-lg-12 col-12">
                    <small class="text-muted" data-toggle="tooltip" data-placement="top" title="Unique item ID visible on the item label.">ID: {{ object.qrid }}</small><small class="text-muted" data-toggle="tooltip" data-placement="top" title="Version updated automatically when brand, model or serial number is updated."> | Version: {{ object.version }}</small>
                    <!-- {{ object.added_on|date:"F d, Y" }} -->

                    <div class="shadow p-3 mb-5 bg-white rounded mt-3 mx-2">
<!--                          <hr class="my-2">-->
                        <table class="table table-borderless table-sm mb-0 w-auto">
                            <tr>
                                <td>
                                    <i class="fas fa-check-circle"></i>
                                </td>
                                <td>
                                     Status
                                </td>
                                <td class="pl-4">
                                    <h5>
                                        {% if object.status and object.tracking %}
                                            <span class="align-middle badge badge-pill badge-success">Available</span>
                                        {% elif object.tracking and not object.status %}
                                            <span class="align-middle badge badge-pill badge-danger">In use</span> <!-- TODO Hiding elements -->
                                        {% else %}
                                            <span class="align-middle badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="right" title="This item cannot be assigned to a user or location.">No tracking</span>
                                        {% endif %}

                                    </h5>
                                </td>
                            </tr>
                            {% if object.tracking %}
                                <tr>
                                    <td>
                                        <i class="fas fa-map-marker"></i>
                                    </td>
                                    <td>
                                         Location
                                    </td>
                                    <td class="pl-4">
                                        {% if object.status %}
                                            <h5><span class="badge badge-warning">{{ object.storage_location }}</span></h5>
                                        {% else %}
                                             <h5><span class="badge badge-primary">{{ object.location }}</span></h5>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fas fa-user"></i>
                                    </td>
                                    <td class="th-sm">
                                         User
                                    </td>
                                    <td class="pl-4">
                                        <h5>
                                            {% if object.user == None %}
                                                <span class="badge badge-secondary">{{ object.user }}</span>
                                            {% else %}
                                                <span class="badge badge-primary">{{ object.user }}</span>
                                            {% endif %}
                                        </h5>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if object.flag %}
                                <tr>
                                    <td>
                                        <i class="fas fa-flag"></i>
                                    </td>
                                    <td class="th-sm">
                                         Flag
                                    </td>
                                    <td class="pl-4">
                                        <h5>
                                            <span class="badge badge-danger"><i class="fas fa-{{ object.flag.icon }}"></i>  {{ object.flag.flag }}</span>
                                        </h5>
                                        <p class="text-muted small my-0">{{ flagged_by }} | {{ flagged_on|date:"d-m-Y" }}</p>
                                        <p class="text-muted my-0">
                                            {% if object.flag_comment %}
                                            {{ object.flag_comment }}
                                            {% endif %}
                                        </p>

                                    </td>
                                </tr>
                            {% endif %}
                        </table>
</div>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-12 col-12">
                    <h3>Details</h3>
                    <table class="table mt-3">
                        <tbody>
                        <tr>
                            <th scope="row">Brand</th>
                            <td>{{ object.brand }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Model</th>
                            <td>{{ object.model }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Serial number</th>
                            <td>{{ object.serial|nonevalue|safe }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Category</th>
                            <td><span class="align-middle badge badge-secondary">{{ object.category }}</span></td>
                        </tr>
                        <tr style="min-height: 200px;">
                            <th scope="row">Description</th>
                            <td>
                                <div style="min-height: 60px;">
                                    {{ object.description|nonevalue|safe|linebreaks }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Purchased by</th>
                            <td>{% if object.purchased_by %}{{ object.purchased_by }}{% else %}<em class="text-muted">Unknown</em>{% endif %}</td>
                        </tr>
                        <tr>
                            <th scope="row">Purchased on</th>
                            <td>{% if object.purchased_on %}{{ object.purchased_on|date:"F d, Y" }}{% else %}<em class="text-muted">Unknown</em>{% endif %}</td>
                        </tr>
                        <tr>
                            <th scope="row">Purchased price</th>
                            <td>{% if object.purchased_price %} &euro; {{ object.purchased_price|intcomma }}{% else %}<em class="text-muted">Unknown</em>{% endif %}</td>
                        </tr>
                        {% if object.warranty_expiration|in_the_future %}
                        <tr>
                            <th scope="row">Warranty</th>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <th scope="row">Warranty expiration</th>
                            <td>{{ object.warranty_expiration|date:"F d, Y" }} ({{ object.warranty_expiration|timedelta }})</td>
                        </tr>
                        <tr>
                            <th scope="row">Warranty next service date</th>
                            <td>{{ object.next_service_date|date:"F d, Y" }} ({{ object.next_service_date|timedelta }})</td>
                        </tr>
                        {% else %}
                        <tr>
                            <th scope="row">Warranty</th>
                            <td>No</td>
                        </tr>
                        {% endif %}

                        <tr>
                            <th scope="row">Storage location</th>
<!--                            <td><a href="#">{{ object.storage_location }}</a></td> &lt;!&ndash; TODO add map ext link &ndash;&gt;-->
                            <td>{{ object.storage_location|nonevalue|safe }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Number of parts</th>
                            <td>{{ object.parts }}</td>
                        </tr>
<!--                        <tr>-->
<!--                            <th scope="row">Manuals</th>-->
<!--                            <td>All manuals here</td>-->
<!--                        </tr>-->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col col-lg-4 col-12 pl-1">

            <div class="row my-2">
                <div class="col col-12">
                    {% if object.image != DEFAULT_IMAGE %}
                        <a href="{{ object.image.url }}" data-toggle="lightbox"><img class="rounded mr-0 w-100" src="{{ object.image.url }}"></a>
                    {% else %}
                        <img class="rounded mr-0 w-100" src="{{ object.image.url }}">
                    {% endif %}
                 </div>
            </div>
            {% if object.image2 %}
                <div class="row my-2">
                    <div class="col col-12">
                        <a href="{{ object.image2.url }}" data-toggle="lightbox"><img class="rounded mr-0 w-100" src="{{ object.image2.url }}"></a>
                    </div>
                </div>
            {% endif %}

            <hr class="my-2">
            <div class="row">
                <div class="col col-12">
                    <h3>Quick actions</h3>
                    {% if object.tracking %}
                        {% if object.status %}
                            <a class="btn btn-secondary btn-block" href="{% url 'item-assign' object.id %}"><i class="fas fa-stamp"></i> Assign To</a>
                        {% else %}
                            <a class="btn btn-secondary btn-block" href="{% url 'item-assign' object.id %}"><i class="fas fa-stamp"></i> Change Assign To</a>
                            <a class="btn btn-warning btn-block" href="{% url 'item-assign-remove' object.id %}"><i class="fas fa-stamp"></i> Return to Storage</a>
                        {% endif %}
                    {% endif %}
                    {% if object.flag %}
                        <a class="btn btn-success btn-block" href="{% url 'item-flag-remove' object.id %}"><i class="fas fa-flag"></i> Resolve Flag</a>
                    {% else %}
                        <a class="btn btn-secondary btn-block" href="{% url 'item-flag' object.id %}"><i class="fas fa-flag"></i> Flag</a>
                    {% endif %}



<!--                  <span class="badge badge-secondary"><i class="fas fa-{{ object.flag.icon }}"></i>  {{ object.flag.flag }}</span>-->

                </div>
            </div>




        </div>

    </div>
</article>

<!--<article class="media content-section">-->
<!--    <div class="row">-->
<!--        <div class="col col-lg-12 col-12">-->
<!--            {% for i in history %}-->

<!--            &lt;!&ndash;-->
<!--            history_date-->
<!--            history_change_reason-->
<!--            history_type-->
<!--            history_object-->
<!--            history_user-->
<!--            history_user_id-->
<!--            instance-->
<!--            instance_type-->
<!--            next_record-->
<!--            prev_record-->
<!--            revert_url-->
<!--            __str__-->

<!--            &ndash;&gt;-->

<!--            {{ i }} <br>-->

<!--            {{ i.history_id }}-->
<!--            {% if i.history_type == '~' %}-->
<!--            CHANGED-->
<!--            {% elif i.history_type == '+' %}-->
<!--            ADDED-->
<!--            {% else %}-->
<!--            UNKNOWN-->
<!--            {% endif %}-->
<!--            {{ i.history_date|date:"Y-m-d G:i:s" }}-->
<!--            {{ i.history_user }}-->
<!--            {{ i.history_delta }}-->
<!--            <br>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col col-lg-12 col-12">-->


<!--        </div>-->
<!--    </div>-->
<!--</article>-->
<article class="media content-section">

<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-12 col-12">
            <h3 class="d-inline">Logbook</h3>
            <div class="float-right my-2">
                <a class="btn btn-outline-success" href="{% url 'item-log-create' object.id %}"><i class="fas fa-plus"></i> Add log</a>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col col-12">
            <table id="logbook_list" class="table table-striped table-bordered w-100">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for log in log_list %}
                    <tr>
<!--                        <td>{{ log.added_on|date:"d-m-Y H:i" }}</td>-->
<!--                        <td>{{ log.added_by }}</td>-->
                        <td>
                            <h6 class="d-inline"><b>{{ log.added_on|date:"d-m-Y H:i" }} by {{ log.added_by }}</b></h6>
                            <div class="float-right">
                            {% if log.added_by == user %}
                                <a class="badge badge-secondary mt-1 mb-1" href="{% url  'item-log-update' log.id %}">Update</a>
                                <a class="badge badge-danger mt-1 mb-1" href="{% url  'item-log-delete' log.id %}">Delete</a>
                            {% endif %}
                                </div>

                            <p class="mt-2">{{ log.log }}</p>
                            {% if log.file1 or log.file2 %}

                            {% endif %}

                            {% if log.file1 %}
                                <a href="{{ log.file1.url }}" target="_blank" class="badge badge-secondary">
                                    <i class="fas fa-paperclip"></i>
                                    {% if log.file1_name %}{{ log.file1_name }}{% else %}{{ log.file1.name }}{% endif %}
                                    ({{ log.file1_extension }}) ({{ log.file1.path|filesize|filesizeformat }})
                                </a>
                            {% endif %}

                            {% if log.file2 %}
                                 <a href="{{ log.file2.url }}" target="_blank" class="badge badge-secondary">
                                     <i class="fas fa-paperclip"></i>
                                    {% if log.file2_name %}{{ log.file2_name }}{% else %}{{ log.file2.name }}{% endif %}
                                    ({{ log.file2_extension }}) ({{ log.file2.path|filesize|filesizeformat }})
                                 </a>
                            {% endif %}
                         </td>
<!--                        <td align="right">-->
<!--                            {% if log.added_by == user %}-->
<!--                                <a class="badge badge-secondary mt-1 mb-1" href="{% url  'item-log-update' log.id %}">Update</a>-->
<!--                                <a class="badge badge-danger mt-1 mb-1" href="{% url  'item-log-delete' log.id %}">Delete</a>-->
<!--                            {% endif %}-->
<!--                        </td>-->
<!--                    </tr>-->
                {% endfor %}
                </tbody>
            </table>
                </div>
        </div>
</div>
    </div>
</div>
</article>

<article class="media content-section">

<div class="container-fluid">
    {% if history %}
    <div class="row">
        <div class="col col-lg-12 col-12">
            <h3 class="d-inline">Item History</h3> <span class="align-middle badge badge-pill badge-secondary d-inline align-text-top">Beta</span>

            <table id="history_list" class="table table-striped table-bordered w-100">

                <thead>
                    <th>Date</th>
                    <th>User</th>
                    <th class="d-none d-md-block">Type</th>
                    <th>Fields changed</th>

                </thead>


                {% for idx in zipped_allhistory_alldelta %}
                <tr>
                    <td>
                        {{ idx.0.history_date|date:"Y-m-d G:i:s" }}
                    </td>
                    <td>
                        <b>{{ idx.0.history_user }}</b>
                    </td>
                    <td class="d-none d-md-block">
                        {% if idx.0.history_type == '~' %}
                            CHANGED
                        {% elif idx.0.history_type == '+' %}
                            ADDED
                        {% else %}
                            UNKNOWN
                        {% endif %}
                    </td>
                    <td>
                        {% for field in idx.1 %}
                        <span class="align-middle badge badge-primary">{{ field }}</span>

                        {% endfor %}
                    </td>
                </tr>


                {% for jdx in idx.1.changes %}
                <!-- One HistoryItem can have multiple changes (multiple fields that are changed) -->


                {% endfor %}
                {% endfor %}
                <tr>
                    <td>
                        {{ history.last.history_date|date:"Y-m-d G:i:s" }}
                    </td>
                    <td>
                        <b>{{ history.last.history_user }}</b>
                    </td>
                    <td>
                        {% if history.last.history_type == '~' %}
                        CHANGED
                        {% elif history.last.history_type == '+' %}
                        ADDED
                        {% else %}
                        UNKNOWN
                        {% endif %}
                    </td>
                    <td>
                        <b></b>
                    </td>


                </tr>


            </table>

    </div>
    {% else %}
    <p>No recent changes found.</p>
    {% endif %}

</div>
</article>

{% endblock content %}

{% block tablescript %}
{# Code block for javascript table #}

<script>
    $(document).ready(function() {
        $('#logbook_list').DataTable({
            "aaSorting": [],
            "pagingType": "full_numbers",
            "bLengthChange": false,
            responsive: true,
            responsive: {
                details: false
            },
            "language": {
                "lengthMenu": "Show _MENU_ logs per page",
                "zeroRecords": "No matching logs found.",
                "infoFiltered": "(filtered from _MAX_ total logs)",
                "info":           "Showing _START_ to _END_ of _TOTAL_ logs",
                "infoEmpty":      "",
                "emptyTable":     "No logs for this item",
                "paginate": {
                    "first":      "First",
                    "last":       "Last",
                    "next":       "Next",
                    "previous":   "Previous"
                },
            },
        } );
    } );

    $(document).ready(function() {
        $('#history_list').DataTable({
            "order": [[ 0, "desc" ]],
            "bLengthChange": false,
            "bFilter": true,
            responsive: true,
            responsive: {
                details: false
            },
            "language": {
            "lengthMenu": "Show _MENU_ items per page",
            "zeroRecords": "No matching items found.",
            "infoFiltered": "(filtered from _MAX_ total items)",
            "info":           "Showing _START_ to _END_ of _TOTAL_ items",
            "paginate": {
                "next":       "Next",
                "previous":   "Previous"
            },
        },
        } );
    } );
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous"></script>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>

{% endblock tablescript %}