{% extends "ems/base.html" %}
{% block content %}
   <article class="media content-section">
       <img class="rounded-circle article-img" src="{{ object.image.url }}">
     <div class="media-body">
       <div class="article-metadata">
         <a class="mr-2" href="#">{{ object.brand }} {{ object.model }}</a>
         <small class="text-muted">{{ object.added_on|date:"F d, Y" }}</small>
               <div>
                   {% if user.is_staff %}
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url  'item-staffupdate' object.id %}">Update (staff)</a>
                   {% endif %}

                   {% if user.is_authenticated %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url  'item-userupdate' object.id %}">Update</a>
                   {% endif%}

                   <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url  'item-delete' object.id %}">Delete</a>
               </div>

       </div>
       <h2 class="article-title">{{ object.serial }}</h2>
       <p class="article-content">{{ object.description }}</p>
     </div>
   </article>
{% endblock content %}
