{% extends "ems_manage/manage_base.html" %}
{% block tabmanage3_active %}
active
{% endblock tabmanage3_active %}
{% block manage_submenu %}

<div>
  <h2 style="display: inline-block">Activity</h2>
  <span class="badge rounded-pill bg-secondary" style="vertical-align: top">Beta</span>
</div>

<div class="float-end my-2">
    {% include "ems/help_modal.html" with title="Activity" help_file="ems_manage/help.html" help_section="activity" %}
</div>

{% endblock manage_submenu %}
{% block content %}
    {% load ems_customfilters %}

<div class="row">
        <div class="col col-12">
            <table id="user_list" class="table table-striped table-bordered table w-100" style="width:100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Request url</th>
                    <th>Request method</th>
                    <th>Date time</th>
                    <th>IP address</th>
                    <th>Extra data</th>
                    <th>Reponse code</th>
                </tr>
            </thead>
            <tbody>
                {% for log in object_list %}
                    <tr>
                        <td>{{ log.id }}</td>
                        <td>{{ log.user }}</td>
                        <td>{{ log.request_url }}</td>
                        <td>{{ log.request_method }}</td>
                        <td>{{ log.datetime }}</td>
                        <td>{{ log.ip_address }}</td>
                        <td>{{ log.extra_data }}</td>
                        <td>{{ log.response_code }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}

           {% if page_obj.has_previous %}
               <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
               <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
           {% endif %}

           {% for num in page_obj.paginator.page_range %}
               {% if page_obj.number == num %}
                   <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
               {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                   <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
               {% endif %}
           {% endfor %}

           {% if page_obj.has_next %}
               <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
               <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
           {% endif %}

        {% endif %}

    </div>
</div>

{% endblock content %}