{% extends "ems_manage/manage_base.html" %}
{% block tabmanage4_active %}
active
{% endblock tabmanage4_active %}
{% block manage_submenu %}

<h1 class="h2">Flags</h1>
<div class="float-end my-2">
    <a class="btn btn-sm btn-success" href="{% url 'manage-flags-add' %}"><i class="fas fa-plus"></i> Add new flag</a>
    {% include "ems/help_modal.html" with title="Flags" help_file="ems_manage/help.html" help_section="flag" %}
</div>

{% endblock manage_submenu %}

{% block content %}
{% load ems_customfilters %}

<div class="row">
    <div class="col col-12">
    <table id="user_list" class="table table-striped table-bordered table">
        <thead>
        <tr>
            <th data-priority="10">ID</th>
            <th data-priority="10">Flag</th>
            <th data-priority="10">Description</th>
            <th data-priority="10">Icon</th>
            <th data-priority="10"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.pk }}</td>
            <td>{{ item.flag }}</td>
            <td>{{ item.description }}</td>
            <td><i class="fas fa-{{ item.icon }}"></i> ({{ item.icon }})</td>
            <td>
                <a href="{% url 'manage-flags-update' item.pk %}" class="btn btn-sm btn-secondary">Edit</a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>


{% endblock content %}