{% extends "ems_manage/manage_base.html" %}
{% load crispy_forms_tags %}
{% block tabmanage6_active %}
active
{% endblock tabmanage6_active %}
{% block manage_submenu %}

<h1 class="h2">Add lab</h1>
<div class="float-end my-2">
    <a class="btn btn-sm btn-secondary" href="{% url 'manage-labs' %}"><i class="fas fa-arrow-circle-left"></i> Back</a>
    {% include "ems/help_modal.html" with title="Labs" help_file="ems_manage/help.html" help_section="labs" %}
</div>

{% endblock manage_submenu %}

{% block content %}
      <form method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           <fieldset class="form-group">
               {{ form|crispy }}
           </fieldset>
           <div class="form-group">
               <button class="btn btn-primary" type="submit">Add lab</button>
           </div>
       </form>
{% endblock content %}