{% extends "ems_manage/manage_base.html" %}
{% block content %}



<div class="row">
    <div class="col col-12">
        <div class="float-left my-2">
            <h3 class="d-inline">Locations</h3>
        </div>
    </div>
</div>
<p>
    Each item in EMS is linked to a location. Each location is build up out of 2 parts:<br>
    1. Lab <br>
    2. Setup or Cabinet <br>
    When an item is in use (assigned to a user) the location is Lab + Setup, when the item is in storage the location
    is Lab + Cabinet.<br>
    <br>
    Below the Labs, Setups and Cabinets can be updated and added individually, EMS takes care of combining these.<br>

    <br>
    It is currently not possible to delete Labs, Cabinets and Setups.

<!--    Explain Locations: combination of lab + setup (for in-use items) or lab + cabinet (for stored items)-->


</p>


<div class="row">
    <div class="col col-12">
        <div class="float-left my-2">
            <h3 class="d-inline">Labs</h3>
        </div>
        <div class="float-right my-2">
            <a class="btn btn-success" href="{% url 'manage-labs-add' %}"><i class="fas fa-plus"></i> Add new lab</a>
        </div>
    </div>
</div>
<div class="row">
    <table id="user_list" class="table table-striped table-bordered table">
        <thead>
        <tr>
            <th data-priority="10">Number</th>
            <th data-priority="10">Manager</th>
            <th data-priority="10">Nickname</th>
            <th data-priority="10"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.number }}</td>
            <td>{{ item.manager }}</td>
            <td>{{ item.nickname }}</td>
            <td>
                <a href="{% url 'manage-labs-update' item.pk %}" class="btn btn-secondary">Edit</a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col col-12">
        <div class="float-left my-2">
            <h3 class="d-inline">Setups</h3>
        </div>
        <div class="float-right my-2">
            <a class="btn btn-success" href="{% url 'manage-setups-add' %}"><i class="fas fa-plus"></i> Add new setup</a>
        </div>
    </div>
</div>
<div class="row">
    <table id="user_list" class="table table-striped table-bordered table">
        <thead>
        <tr>
            <th data-priority="10">Lab</th>
            <th data-priority="10">Name</th>
            <th data-priority="10">Manager</th>
            <th data-priority="10"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in setups %}
        <tr>
            <td>{{ item.lab }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.manager }}</td>
            <td>
                <a href="{% url 'manage-setups-update' item.pk %}" class="btn btn-secondary">Edit</a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col col-12">
        <div class="float-left my-2">
            <h3 class="d-inline">Setups</h3>
        </div>
        <div class="float-right my-2">
            <a class="btn btn-success" href="{% url 'manage-cabinets-add' %}"><i class="fas fa-plus"></i> Add new cabinet</a>
        </div>
    </div>
</div>
<div class="row">
    <table id="user_list" class="table table-striped table-bordered table">
        <thead>
        <tr>
            <th data-priority="10">Lab</th>
            <th data-priority="10">Cabinet number</th>
            <th data-priority="10"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in cabinets %}
        <tr>
            <td>{{ item.lab }}</td>
            <td>{{ item.number }}</td>
            <td>
                <a href="{% url 'manage-cabinets-update' item.pk %}" class="btn btn-secondary">Edit</a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}