{% extends "ems/base.html" %}

{% load humanize %}
{% load ems_customfilters %}

{% block secondheader %}

<nav class="navbar navbar-expand-md navbar-light mb-2" style="margin-top:-1.5rem; background-color: #d0dbe1;" >
    <div class="container">
 <a class="navbar-brand" href="{% url 'manage-home' %}">Manage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link active" href="{% url 'manage-home' %}"><i class="fas fa-tools"></i> Manage</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'manage-users' %}"><i class="fas fa-user"></i> Users</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'manage-useractivity' %}"><i class="fas fa-history"></i> Activity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manage-flags' %}"><i class="fas fa-flag"></i> Flags</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manage-categories' %}"><i class="fas fa-align-justify"></i> Categories</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'manage-locations' %}"><i class="fas fa-map-marker"></i> Locations</a>
      </li>

    </ul>
  </div>
    </div>
</nav>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-12 mt-2">
            {% block managemenu %}{% endblock managemenu %}
        </div>
    </div>
</main>

{% endblock secondheader %}
