{% extends "ems_manage/manage_base.html" %}
{% load humanize %}
{% block tabmanage1_active %}
active
{% endblock tabmanage1_active %}
{% block manage_submenu %}
<div>
    <h2 style="display: inline-block">Dashboard</h2>
    <span class="badge rounded-pill bg-secondary" style="vertical-align: top">Beta</span>
</div>

<div class="float-end my-2">
    {% include "ems/help_modal.html" with title="Dashboard" help_file="ems_manage/help.html" help_section="dashboard" %}
</div>

{% endblock manage_submenu %}
{% block content %}
    {% load ems_customfilters %}

<div class="alert alert-warning" role="alert">
  The dashboard is still under development.
</div>


{% endblock content %}

{% block tablescript %}
{# Code block for javascript table #}

<script>


</script>

{% endblock tablescript %}