{% extends "ems/base.html" %}

{% load humanize %}
{% load static %}
{% load ems_customfilters %}

{% block main %}

<style>

body {
    overflow-x: hidden; //horizontal
}



</style>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-3 p-3 text-white bg-dark sticky-top"
                 style="min-width: 220px; max-width: 220px; height:100vh;">
                <a href="/" class="align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-4">PCFEMS Manage</span>
                </a>

                <hr class="mt-3">

                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white {% block tabmanage1_active %} {% endblock tabmanage1_active %}"
                           href="{% url 'manage-home' %}"><i class="bi bi-house-door"></i> Dashboard</a>
                    </li>
                    <li class="nav-item dropdown dropend">
                        <a class="nav-link text-white dropdown-toggle {% block tabmanage_overview_active %} {% endblock tabmanage_overview_active %}" data-bs-toggle="dropdown" href="#" role="button"
                           aria-expanded="false"><i class="bi bi-eye"></i> Overviews</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{% url 'manage-overview-openflags' %}"><i class="bi bi-flag"></i> Open flags</a></li>
                            <li><a class="dropdown-item" href="{% url 'manage-overview-assigneditems' %}"><i class="fas fa-stamp"></i> Assigned items</a></li>
                            <li><a class="dropdown-item" href="{% url 'manage-overview-itemswarranty' %}"><i class="fas fa-money-check"></i> Items under warrenty</a></li>

                        </ul>
                    </li>

                    <li>
                        <hr>
                    </li>

                    {% if user|check_permission:'is_usermoderator' %}
                    <li><span class="dropdown-item-text text-white text-center">Users</span></li>
                    <li class="nav-item">
                        <a class="nav-link text-white {% block tabmanage2_active %} {% endblock tabmanage2_active %}"
                           href="{% url 'manage-users' %}"><i class="bi bi-people-fill"></i> Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white {% block tabmanage3_active %} {% endblock tabmanage3_active %}"
                           href="{% url 'manage-useractivity' %}"><i class="fas fa-history"></i> Activity</a>
                    </li>
                    {% endif %}

                    <li>
                        <hr>
                    </li>

                    {% if user|check_permission:'is_itemmoderator' %}
                    <li class="nav-item">
                        <a class="nav-link text-white {% block tabmanage4_active %} {% endblock tabmanage4_active %}"
                           href="{% url 'manage-flags' %}"><i class="fas fa-flag"></i> Flags</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white {% block tabmanage5_active %} {% endblock tabmanage5_active %}"
                           href="{% url 'manage-categories' %}"><i class="fas fa-align-justify"></i> Categories</a>
                    </li>

                    <li class="nav-item dropdown dropend">
                        <a class="nav-link text-white dropdown-toggle {% block tabmanage6_active %} {% endblock tabmanage6_active %}" data-bs-toggle="dropdown" href="#" role="button"
                           aria-expanded="false"><i class="fas fa-map-marker"></i> Locations</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{% url 'manage-labs' %}">Labs</a></li>
                            <li><a class="dropdown-item" href="{% url 'manage-setups' %}#">Setups</a></li>
                            <li><a class="dropdown-item" href="{% url 'manage-cabinets' %}">Cabinets</a></li>

                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white {% block tabmanage9_active %} {% endblock tabmanage9_active %}"
                           href="{% url 'manage-check' %}"><i class="fas fa-check"></i> Checks</a>
                    </li>


                    <li>
                        <hr>
                    </li>
                    {% endif %}


                    {% if user|check_permission:'is_admin' %}
                    <li><span class="dropdown-item-text text-white text-center">Admin</span></li>
                    <li class="nav-item">
                        <a class="nav-link text-white {% block tabmanage7_active %} {% endblock tabmanage7_active %}"
                           href="{% url 'manage-export' %}"><i class="fas fa-download"></i> Export</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white {% block tabmanage8_active %} {% endblock tabmanage8_active %}"
                           href="{% url 'manage-settings' %}"><i class="fas fa-cogs"></i> Settings</a>
                    </li>
                    {% endif %}

                </ul>

            </div>


            <div class="col col-8 py-0 px-0 flex-grow-1">

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 px-3 pb-1 mb-2 border-bottom">
                    {% block manage_submenu %}{% endblock manage_submenu %}

                </div>


                <div class="container-fluid p-0">
                    <div class="row">
                        <div clas="col">
                            <div class="container-fluid pt-2">
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message|safe }}
                                </div>
                                {% endfor %}
                                {% endif %}

                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div clas="col">
                            <div class="container">
                                {% block footer %}
                                {{ block.super }}
                                {% endblock footer %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div>
</main>

{% endblock main %}
