{% extends "ems_manage/manage_base.html" %}
{% block tabmanage_overview_active %}
active
{% endblock tabmanage_overview_active %}
{% block manage_submenu %}
<div>
  <h2 style="display: inline-block">Open Flags</h2>
</div>

<div class="float-end my-2">

    {% include "ems/help_modal.html" with title="Open Flags" help_file="ems_manage/help.html" help_section="openflags" %}
</div>

{% endblock manage_submenu %}
{% block content %}
{% load ems_customfilters %}

<div class="row">
<div class="col col-12">
        <p>The items that are flagged are listed below. Resolving the item will remove the flag. This cannot be undone.</p>
        <table id="open_flags" class="table table-striped table-bordered table w-100">
            <thead>
                <th>ID</th>
                <th>Item</th>
                <th>Location</th>
                <th>Status</th>
                <th>User</th>
                <th>Flag</th>
                <th>Flagged by</th>
                <th>Flagged on</th>
                <th></th>
            </thead>
            <tbody>
                {% for item, item2 in openflags %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.brand }} {{ item.model }}</td>
                        <td>
                            {% if item.status and item.tracking %}
                                {{ item.location|nonevalue|safe }}
                            {% elif item.tracking and not item.status %}
                                {{ item.storage_location|nonevalue|safe }}
                            {% else %}
                                <em class="text-muted">Unknown</em>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.status and item.tracking %}
                                <span class="align-middle badge rounded-pill bg-success">Available</span>
                            {% elif item.tracking and not item.status %}
                                <span class="align-middle badge rounded-pill bg-danger">In use</span>
                            {% else %}
                                <span class="align-middle badge rounded-pill bg-secondary">No tracking</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.tracking %}
                                {{ item.user|nonevalue|safe }}
                            {% else %}
                                <em class="text-muted">Unknown</em>
                            {% endif %}
                        </td>
                        <td><span class="badge bg-danger"><i class="fas fa-{{ item.flag.icon }}"></i> {{ item.flag.flag }}</span> <br> {% if item.flag_comment %}{{ item.flag_comment }}{% endif %}</td>
                        <td>{{ item2.flagged_by }}</td>
                        <td>{{ item2.flagged_on|date:'d-m-Y H:i' }}</td>
                        <td>
                            <a href="{% url 'item-detail' item.pk %}" class="btn btn-sm btn-primary mb-2">Go</a>
                            <a href="{% url 'manage-flags-resolve' item.pk %}" class="btn btn-sm btn-success">Unflag</a>
                        </td>
                    </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block tablescript %}
{# Code block for javascript table #}

<script>
    $(document).ready(function() {
        $('#open_flags').DataTable({
            "scrollX": true,
            "pagingType": "full_numbers",
            "bLengthChange": false,

            "language": {
                "lengthMenu": "Show _MENU_ items per page",
                "zeroRecords": "No matching items found.",
                "infoFiltered": "(filtered from _MAX_ total items)",
                "info":           "Showing _START_ to _END_ of _TOTAL_ items",
                "infoEmpty":      "",
                "emptyTable":     "No flagged items.",
                "paginate": {
                    "first":      "First",
                    "last":       "Last",
                    "next":       "Next",
                    "previous":   "Previous"
                },
            },
        } );
    } );

</script>

{% endblock tablescript %}

