{% extends "ems_manage/manage_base.html" %}
{% load crispy_forms_tags %}
{% block tabmanage8_active %}
active
{% endblock tabmanage8_active %}
{% block manage_submenu %}
<div>
    <h2 style="display: inline-block">System settings</h2>
</div>

<div class="float-end my-2">
    {% include "ems/help_modal.html" with title="Settings" help_file="ems_manage/help.html" help_section="settings" %}
</div>

{% endblock manage_submenu %}

{% block content %}
    {% load ems_customfilters %}

<div class="row">
        <div class="col col-12">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <fieldset class="form-group">
           {{ form|crispy }}
       </fieldset>
       <div class="form-group">
           <button class="btn btn-outline-info" type="submit">Save</button>
       </div>
    </form>
</div>


{% endblock content %}