{% extends "ems_manage/manage_base.html" %}
{% block content %}

<div class="float-left my-2">
    <h3 class="d-inline">Users</h3>
</div>
<div class="float-right my-2">
    <a class="btn btn-success" href="#"><i class="fas fa-plus"></i> Add new user</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th data-priority="10">ID</th>
        <th data-priority="10">Username</th>
        <th data-priority="10">First name</th>
        <th data-priority="10">Last name</th>
        <th data-priority="10">Email</th>
        <th data-priority="10">Staff?</th>
        <th data-priority="10">Admin?</th>
        <th data-priority="10">Active?</th>
        <th data-priority="10">Last login</th>
        <th data-priority="10">Date joint</th>
        <th data-priority="10"></th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
    <tr style="cursor:pointer;" onclick="window.location='#';">
        <td>{{ item.pk }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.is_staff }}</td>
        <td>{{ item.is_superuser }}</td>
        <td>{{ item.is_active }}</td>
        <td>{{ item.last_login|date:"Y-m-d G:i:s" }}</td>
        <td>{{ item.date_joined|date:"Y-m-d G:i:s" }}</td>
        <td><a href="#" class="btn btn-secondary">Edit</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}